//@import "libs/bootstrap-reboot.min";
@import "libs/reset";
@import "libs/fonts";
@import "base/variables";
@import "base/mixins";
@import "blocks/button";

@import "blocks/nav";
@import "blocks/promo";

* {
   font-family: "Roboto" !important;
}

.container {
   width: 960px;
   margin: 0 auto;
}

@import "base/media";
