.button {
   display: block;
   padding: 10px;
   min-width: 165px;
   min-height: 38px;
   font-size: 16px;
   font-weight: 400;
   text-transform: uppercase;
   color: #fff;
   background-color: $main;
   border: none;
   border-radius: 5px;
   margin: 0 auto;
   cursor: pointer;
   &:focus {
      outline: none;
   }
   &:active {
      background-color: $main-light;
   }
}
