.modal {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   display: none;
   justify-content: center;
   align-items: center;
   &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba($color: #000, $alpha: 0.5);
   }
   &__inner {
      width: 1100px;
      min-height: 312px;
      max-height: 100%;
      max-width: 100%;
      padding: 20px;
      background-color: #fff;
      position: relative;
      box-sizing: border-box;
      overflow: auto;
      &-small {
         width: 600px;
         height: 312px;
      }
      &_close {
         position: absolute;
         top: 10px;
         right: 10px;
         width: 50px;
         height: 50px;
         background: url("../icons/close.svg") center center no-repeat;
         border: none;
         z-index: 1;
         cursor: pointer;
         &:focus {
            outline: none;
         }
      }
   }
}
